@tailwind base;
@tailwind components;
@tailwind utilities;

.my-div {
    position: absolute;
    display: inline-flex;
    padding: 50px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/**/
